---
layout: default
---

  <!--<div id="homeid" class="col-sm-8">-->
<div id="homeid" class="col-xl-12">
<h1>BRain Inspired Computing & Communications Lab @ MICS</h1>
  <div class="col-sm-12">
  {{ content }}
  </div>

  <br>
  <br>
  </div>

  <div id="homeinfo" class="col-md-12">

    <div class="col-md-8">
      {% include news.html %}
    </div>

    <div class="col-md-4">
      <div class="row-fluid">
        <div class="span">
        {% include sponsors.html %}
        </div>

        <div class="span">
        {% include announcements.html %}
        </div>
      </div>
</div>

We thank the <a href="http://www.allanlab.org/">Allan Lab</a> which made the <a href="https://github.com/mpa139/allanlab">academic template</a> publicly available on which this website is based. More details can be found <a href="http://www.allanlab.org/aboutwebsite.html">here</a>.
</div>

